* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

button {
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
    height: 60px;
    background: #F4442E; 
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.14)) drop-shadow(0px 1px 18px rgba(0, 0, 0, 0.12)) drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    border: none;
    transform: skew(-13deg);
    cursor: pointer;
    transition: background 0.4s, color 0.4s;
    letter-spacing: 1.1px;

}

button:hover{
    background: #F9B233;
    color: #1c2525;
}

h1 {
    font-size: 96px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: -1px;
    color: #1c2525;
    
}

@media screen and (max-width: 900px) {
    h1 {font-size: 36px;}
  }

h2 {
    font-size: 60px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 110%;
    letter-spacing: 0px;
    color: #1c2525;
}

h3 {
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 110%;
    letter-spacing: 0px;
    color: #1c2525;
}



h4 {
    font-size: 34px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 110%;
    letter-spacing: 0px;
    color: #1c2525;
}


h5 {
    font-size: 24px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 120%;
    letter-spacing: 1.1px;
    color: #1c2525;
}

p {
    color: rgba(0, 0, 0, 0.67);
    font-size: 16px;
    line-height: 170%;
    font-weight: 400;
    letter-spacing: 0.8px;
    
}

body{
    font-family: sans-serif;
    height: 100%;

}

.container{
    display: flex;
    margin:auto;
    width: 1240px;
    padding: 0 20px 0 20px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #00A4BD;
    color: white;
    cursor: pointer;
    padding: 15px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

/*------------NAWIGACJA--------------*/

.nav-container{
    display: flex;
    background: #1c2525;
    z-index: 998;
    position: fixed; 
    width: 100%;
    top: 0; 

}
@media screen and (max-width: 900px) {
    .nav-container {display: none;}
  }


nav{
    /* width: 1240px; */
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    transition: 0.4s; 
    padding: 10px 20px 10px 20px;
}

nav a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1.25px;
    transition: color 0.4s;
}

nav .logo-container{
    display: flex; 
    align-items: center;
}

nav .logo-container h5 {
    color: white;
    padding-left: 20px;
    font-size: 14px;
    margin-top: -4px;
    text-align: right;
    font-style: normal;
    
    
}

nav a:hover{
    color: #F9B233;
}

nav .logo-menu {
    transition: 0.4s; 
    height: 65px;
}

nav .social{
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.mobile-social{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}

.mobile-social .inst-icon {
    margin-left: 40px;
}

.social .inst-icon {
    margin-left: 20px;
}

nav .menu-items{
    margin-left: auto;
}

.dropdown {
    display: inline-block;
    position: relative;
  }
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 350px;
    overflow: auto;
    background: white;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    
  }
.dropdown:hover .dropdown-content {
    display: block;
    z-index: 999;
  }
.dropdown-content a {
    display: block;
    color: rgba(0, 0, 0, 0.87);
    padding: 20px 20px 20px 40px;
    text-decoration: none;
    font-size: 14px;
    line-height: 130%;
  }
.dropdown-content span {
    text-transform: uppercase;
    display: block;
    color: #000000;
    padding: 20px 20px 10px 20px;
    text-decoration: none;
  }

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }

.menu-button{
    background: rgba(255, 255, 255, 0);
    color: white;
    padding: 10px 25px;
    font-size: 16px;

}

/* ------ mobile menu --------*/

.nav-mobile-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background: #1c2525;
}


.nav-mobile-container a{
    text-decoration: none;
}

.mobile-logo-container{
    display: flex;
    align-items: flex-start;
}

.mobile-logo-container h5 {
    color: rgba(255, 255, 255, 0.87);
    font-size: 14px;
    padding-left: 10px;
    font-weight: 900;
    line-height: 130%;
    font-style: normal;
}

.mobile-logo-menu {
    height: 45px;
}
.icon-mobile-menu img{
    width: 40px;
}

@media screen and (min-width: 900px){
    .nav-mobile-container{
        display: none;

    }
}
#mobileLinks {
    transition: 0.4s;
    display: none;
    flex-direction: column;
    background: white;
    padding: 20px;
    z-index: 99;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);

}

@media screen and (max-width: 900px){
    #mobileLinks{
        display: none;
    }
}

@media screen and (max-width: 900px){
    #subMenuEvents{
        display: none;
    }
}

#mobileLinks li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.052);
}
#mobileLinks li {
    list-style-type: none;
    padding: 20px;
}

#mobileLinks a{
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.67);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}
#subMenuEvents {
    display: none;
    padding-left: 20px;
    color:rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    font-size: 14px;
}
#subMenuEvents a{
    padding-left: 20px;
    color:rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}




/*------------HEADER--------------*/
.header-container {
    position: relative;
    display: flex;
    gap: 0;
    width: 100%;
    max-height: 90vh;
    background: #1c2525;
}
@media screen and (max-width: 900px) {
    .header-container {display: none;}
  }

.mobile-header-container {
    position: relative;
    display: none;
    gap: 0;
    width: 100%;
    max-height: 90vh;
    background: #1c2525;
} 
@media screen and (max-width: 900px){
    .mobile-header-container {
        display: flex;
    }
}


.main-item {
    position: relative;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    transition-property: flex, background;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.main-item-hover{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.main-item-hover:hover{
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.678);
    cursor: pointer;
}

.main-item-hover h2 {
    font-size: 34px;
    color: white;
    text-align: center;
    padding: 10px;
    line-height: 110%;
}


.main-item-hover .hover-icon-button {
    padding-top: 30px;
    width: 80px;
    height: fit-content;
    transition: padding-top 0.4s;
}

.main-item-hover .hover-icon-button:hover {
    padding-top: 40px;
  
}

.main-item:hover{
    flex:1.4;
}
.main-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile-main-item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-cta {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 40px 20px;
    z-index: 99;
    left: 0;
	right: 0;
	bottom: 0;
	margin-left: auto;
 	margin-right: auto;
	flex: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.767));

}
.mobile-header-cta {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
	right: 0;
	bottom: 0;
    padding: 20px 20px 80px 20px;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.767));

}

.mobile-header-button {
    color:white; 
}

.header-cta h5 {
    padding-right: 60px;
    color: white;
    box-shadow: 0 2 2 black;
    font-size: 20px;
    letter-spacing: 1.2;
    margin-top: -3px;
}

.mobile-header-cta h5 {
    padding-bottom: 40px;
    color: white;
    box-shadow: 0 2 2 black;
    font-size: 34px;
    letter-spacing: 1.2;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

.header-button {
    width: 300px; 
    color:white; 
}

/* ---------------- About -------------- */

.title-container{
    display: flex;
    flex-direction: column;
    padding: 60px 0 60px 0;
}

.about-title{
    padding: 60px 0 30px 0;
    text-align: center;
}

.about-description{
    margin: auto;
    max-width:880px;
    padding: 30px 0px 0px 10px;
    text-align: center;
}
.mobile-about-subtitle {
    text-align: center;
    color:#1c252598;
    font-size: 16px;
    padding-bottom: 5px;
}

@media screen and (min-width: 900px) {
    .mobile-about-subtitle{
        display: none;
    }
}


@media screen and (max-width: 900px) {
    .about-description{
        padding: 10px 0px 20px 0px;

    }
}

.events-section-title{
    padding: 120px 0 0 0;
    text-align: center;
}

@media screen and (max-width:900px) {
   .events-section-title{
    padding: 60px 0 0 0;
    text-align: center;
}
}

/*------------Events--------------*/
.events{
    display: flex;
    background-image: url(/images/SIATKA\ MAPA-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;
}


.events-container{
    display: flex;
    justify-content: center;
    gap: 60px 30px;
    flex-wrap: wrap;
    margin: auto;
    width: 1240px;
    padding: 0 20px 0 20px;
}

@media screen and (max-width:900px) {
    .events-container{
        gap: 30px;
    }
}

.event-card {
    display: flex;
    flex-direction: column;
    width: 31.7204301%;
    min-width: 350px;
    background: white;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:700px){
    .event-card {
        min-width: 330px;
        width: 100%;
    }
}

.card-img{
    height: 260px;
    width: 100%;
    object-fit: cover;
}

.card-discription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 20px;
    background: white;
    flex: 1;
}
.card-discription .event-date {
    color: rgba(0, 0, 0, 0.67);
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 3px;
    letter-spacing: 1.1px;
    font-style: italic;
}

.card-discription p{
    display: flex;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 15px;
}

.event-card-button{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 140%;
    letter-spacing: 1.1px;
    color: #1c2525;
    border-top: 1px solid;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0)) 1;
    padding-top: 15px;
    margin-top: auto;

}
.event-card-button span{
    padding-right: 15px;
    transition: padding-right 0.4s;
}

.event-card-button span:hover{
    padding-right: 25px;
}

/*------------News--------------*/

.news-title{
    padding: 0;
    text-align: center;
}

@media screen and (max-width:900px){
    .title-container{
        padding: 20px;
    }
}

.news{
    display: flex;
    background-image: url(/images/SIATKA\ MAPA-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 160px;
}


.news-container{
    display: flex;
    justify-content: center;
    gap: 60px 30px;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    width: 1240px;
    margin-bottom: -30px;
    padding: 30px 20px 0 20px;
}

.news-card {
    display: flex;
    flex-direction: column;
    width: 31.7204301%;
    min-width: 350px;
    background: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:700px){
    .news-card {
        min-width: 330px;
        width: 100%;
    }
}

.news-card-img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.news-card-discription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px 20px;
    background: white;
    flex: 1;
}
.news-card-discription .post-date {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 10px;
    text-transform: uppercase;
}

.news-card-discription .title {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

.news-card-discription p{
    display: flex;
    font-weight: 400;
    font-style: normal;
    padding-top: 20px;

}

.news-card-button{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    /* text-transform: uppercase; */
    line-height: 140%;
    letter-spacing: 1.1px;
    color: #1c2525;
    padding-top: 20px;
    margin-top: auto;
}
.news-card-button span{
    padding-right: 15px;
    transition: padding-right 0.4s;
}

.news-card-button span:hover{
    padding-right: 25px;
}

/*------------Sponsors--------------*/

.partners{
    display: flex;
    margin-bottom: 160px;
}

.partners-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 1240px;
    padding: 0px 20px 0 20px;
}

.partners-container h4{
    padding: 120px 0 50px 0;
    text-align: center;
}

.sponsor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sponsor h3 {
    padding-bottom: 50px;
    text-align: center;
}

.sponsor img{
    max-width: 450px;
    min-width: 300px;
    margin: auto;
}

@media screen and (max-width:900px){
    .sponsor img{
        width: 300px;
    }

}

.partners-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.partners-logo div {
    display: flex;
    flex: 1;
}
.partners-logo div a{
    display: flex;
    flex: 1;
}

.partners-logo img {
    margin: auto;
    max-width: 150px;
}


/*------------Footer--------------*/

footer {
    background: #1c2525;
}

footer h5 {
    color: rgba(255, 255, 255, 0.87);
    padding-bottom: 30px;
}

footer .columns-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

footer .column1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer .columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 20px 60px 20px;
    width:1240px;
    margin: auto;
    flex-wrap: wrap;
    gap: 30px;
}

@media screen and (max-width:900px){
    footer .columns{
        flex-wrap: wrap-reverse;
        justify-content: start;

    }
}

.column1 .logo-footer{
    width: 200px;
    padding-bottom: 40px;
}

@media screen and (max-width:900px){
    .column1 .logo-footer{
        width: 80px;
    }
}

footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.67);
    padding-bottom:20px;
    transition: color 0.3s;
}

footer a:hover{
    color: #F9B233;
}

footer p {
    color: rgba(255, 255, 255, 0.67);
}

footer .social-title {
    text-align: left;
}

footer .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    text-align: center;
}

.column .social {
    display: flex;
    align-items: center;
}

footer .icon-footer{
    padding-right: 20px;
    height: 35px;
}

footer .rights{
    background: white;
    text-align: center;
    padding: 10px;
}

.rights p{
   color: #1c2525;
}
