/* style.css */

/*
 *   copyright 2021 Piotr Korbas
*/

@import url(/variable.css);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
@font-face {
    font-family: helvetica;
    src: url(/fonts/Neue\ Helvetica\ POLSKA\ Condensed\ Black\ Oblique.ttf);
  }

button {
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
    height: 60px;
    background: var(--red); 
    color: var(--white);
    filter: var(--button);
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    border: none;
    transform: skew(-10deg);
    cursor: pointer;
    transition: background 0.4s, color 0.4s;
    letter-spacing: 1.1px;

}
.nonlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button:hover{
    background: var(--button-hover);
}
a {
    text-decoration: none;
    letter-spacing: 1px;
}

h1 {
    font-size: var(--ng-1);
    /* font-style: italic; */
    font-weight: 900;
    text-transform: uppercase;
    /* line-height: 100%; */
    /* letter-spacing: -1px; */
    color: var(--secondary);
    
}

@media screen and (max-width: 900px) {
    h1 {font-size: 36px;}
  }

h2 {
    font-size: var(--ng-2);
    /* font-style: italic; */
    font-weight: 900;
    text-transform: uppercase;
    /* line-height: 110%; */
    /* letter-spacing: 0px; */
    color: var(--secondary);
}

h3 {
    font-size: var(--ng-3);
    /* font-style: italic; */
    font-weight: 900;
    text-transform: uppercase;
    /* line-height: 110%; */
    /* letter-spacing: 0px; */
    color: var(--secondary);
}



h4 {
    font-size: var(--ng-4);
    /* font-style: italic; */
    font-weight: 900;
    text-transform: uppercase;
    line-height: 110%;
    letter-spacing: 0px;
    color: var(--secondary);
}


h5 {
    font-size: var(--ng-5);
    /* font-style: italic; */
    font-weight: 900;
    text-transform: uppercase;
    line-height: 120%;
    letter-spacing: 1.1px;
    color: var(--secondary);
}
h6{
    font-size: var(--ng-6);
    /* font-style: italic; */
    font-weight: 900;
    text-transform: uppercase;
    line-height: 110%;
    letter-spacing: 1px;
    color: var(--secondary);
}

p {
    font-family: sans-serif;
    color: var(--black-87);
    font-size: var(--text);
    line-height: 170%;
    font-weight: 400;
    letter-spacing: 0.8px;
    
}

ul {
    font-family: sans-serif;
    color: var(--black-67);
    padding-bottom: 15px;
}

li {
    line-height: 140%;
    
}
ul li:not(:last-child){
        padding-bottom: 8px;
    }

span {
    font-family: sans-serif;
}

body{
    font-family: helvetica;
    height: 100%;

}

.container{
    display: flex;
    margin:auto;
    width: 1400px;
    padding: 0 20px 0 20px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #00A4BD;
    color: var(--white);
    cursor: pointer;
    padding: 15px;
  }
  
  #myBtn:hover {
    background-color: var(--grey);
  }

.greyimage{
   filter: grayscale(100%); 
}
  

/*------------NAWIGACJA--------------*/

.nav-container{
    display: flex;
    background: var(--white);
    z-index: 999;
    position: fixed; 
    width: 100%;
    top: 0; 

}
@media screen and (max-width: 900px) {
    .nav-container {display: none;}
  }


nav{
    /* width: 1240px; */
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    transition: 0.4s; 
    padding: 10px 20px 10px 20px;
}

nav a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 1.25px;
    transition: color 0.4s;
}

nav .logo-container{
    display: flex; 
    align-items: center;
}

nav .logo-container h5 {
    color: var(--black-87);
    padding-left: 20px;
    font-size: 14px;
    margin-top: -4px;
    text-align: right;
    font-style: normal;
    
    
}

nav a:hover{
    color: var(--orange);
}

nav .logo-menu {
    transition: 0.4s; 
    height: 65px;
}

nav .social{
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.mobile-social{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}

.mobile-social .inst-icon {
    margin-left: 40px;
}

.social .inst-icon {
    margin-left: 20px;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.social .inst-icon:hover {
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
    -o-transform: scale(1.20);
    -ms-transform: scale(1.20);
    transform: scale(1.20);
}

.social .fb-icon {
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.social .fb-icon:hover {
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
    -o-transform: scale(1.20);
    -ms-transform: scale(1.20);
    transform: scale(1.20);
}


nav .menu-items{
    display: flex;
    margin-left: auto;
}
.menu-item{
    padding-right: 30px;
}
.menu-item a{
    font-family: helvetica;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    padding-right: 20px;
}
.menu-item a img{
    padding-right: 10px;
    transform: rotate(180deg);
}

.dropdown {
    display: inline-block;
    position: relative;
  }
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 350px;
    overflow: auto;
    background: var(--white);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    
  }
.dropdown:hover .dropdown-content {
    display: block;
    z-index: 999;
  }
.dropdown-content a {
    display: block;
    color: var(--black-87);
    padding: 20px 20px 20px 40px;
    text-decoration: none;
    font-size: 14px;
    line-height: 130%;
  }
.dropdown-content span {
    text-transform: uppercase;
    display: block;
    color: #000000;
    padding: 20px 20px 10px 20px;
    text-decoration: none;
  }

.dropdown-content a:hover {
    color: #000000;
    background-color: #CAD51F;
    font-weight: bold;
  }

.menu-button{
    background: #f9b03300;
    color: black;
    padding: 20px 25px;
    height: fit-content;
    font-family: helvetica;

    font-size: 14px;
    filter: none;

}


.menu-button img{
    transform: rotate(180deg);
}

/* ------ mobile menu --------*/

.nav-mobile-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background: #ffffff;
}

#site-header {
    position: fixed;
    height: fit-content;
    background: #fff;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all .3s ease;
    box-shadow: 0 1px 25px rgba(0,0,0, .1);
}
#site-header.hide {
    top: -76px;
}


.nav-mobile-container a{
    text-decoration: none;
}

.mobile-logo-container{
    display: flex;
    align-items: center;
}
.mobile-logo-container img {
    height: 40px;
}

.mobile-logo-container h5 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 12px;
    padding-left: 10px;
    font-weight: 900;
    line-height: 130%;
    font-style: normal;
}

.mobile-logo-menu {
    height: 45px;
}
.icon-mobile-menu img{
    width: 40px;
}

@media screen and (min-width: 900px){
    .nav-mobile-container{
        display: none;

    }
}
#mobileLinks {
    display: none;
    position: absolute;
    transition: all 0.4s;
    /* top: 75px; */
    width: 100%;
    flex-direction: column;
    background: white;
    padding: 20px;
    z-index: 99;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);

}

@media screen and (max-width: 900px){
    #mobileLinks{
        display: none;
    }
}

@media screen and (max-width: 900px){
    #subMenuEvents{
        display: none;
    }
}

#mobileLinks li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.052);
}
#mobileLinks li {
    list-style-type: none;
    padding: 20px;
}

#mobileLinks a{
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.67);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}
#subMenuEvents {
    display: none;
    padding-left: 20px;
    color:rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    font-size: 14px;
}
#subMenuEvents a{
    padding-left: 20px;
    color:rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}




/*------------HEADER--------------*/
.baner {
    margin: 85px auto -5px auto;
    
}

@media screen and (max-width: 900px) {
    .baner {
        margin: 74px auto -5px auto;
    }
  }

.baner img {
    height: 120px;
    object-fit: contain;
    width: 100%;
    margin: auto;
}

.header-container {
    position: relative;
    display: flex;
    gap: 0;
    width: 100%;
    height: 85vh;
    background: #1c2525;
}
@media screen and (max-width: 900px) {
    .header-container {display: none;}
  }

.mobile-header-container {
    position: relative;
    display: none;
    gap: 0;
    width: 100%;
    max-height: 85vh;
    background: #1c2525;
} 
@media screen and (max-width: 900px){
    .mobile-header-container {
        display: flex;
    }
}


.main-item {
    position: relative;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    transition-property: flex, background;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.main-item-hover{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.main-item-hover a{
    text-decoration: none;
    text-align: center;
}
.main-item-hover h6{
    color: rgba(255, 255, 255, 0.67);
    font-size: 16px;
}

.main-item-hover:hover{
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.678);
}

.main-item-hover h2 {
    font-size: 34px;
    color: white;
    text-align: center;
    padding: 10px;
    line-height: 110%;
}


.main-item-hover .hover-icon-button {
    padding-top: 30px;
    width: 80px;
    height: fit-content;
    transition: padding-top 0.4s;
}

.main-item-hover .hover-icon-button:hover {
    padding-top: 40px;
  
}

.main-item:hover{
    flex:1.2;
}
.main-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile-main-item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-cta {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 40px 20px;
    z-index: 99;
    left: 0;
	right: 0;
	bottom: 0;
	margin-left: auto;
 	margin-right: auto;
	flex: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.767));

}
.mobile-header-cta {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
	right: 0;
	bottom: 0;
    padding: 20px 20px 120px 20px;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.767));

}

.mobile-header-button {
    color:white; 
}

.header-cta h5 {
    padding-right: 60px;
    color: white;
    box-shadow: 0 2 2 black;
    font-size: 20px;
    letter-spacing: 1.2;
    margin-top: -3px;
}

.mobile-header-cta h5 {
    padding-bottom: 40px;
    color: white;
    box-shadow: 0 2 2 black;
    font-size: 34px;
    letter-spacing: 1.2;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

.header-button {
    width: 300px; 
    color:white; 
}

/* ---------------- About -------------- */

.title-container{
    display: flex;
    flex-direction: column;
    padding: 60px 0 60px 0;
}

.about-title{
    padding: 60px 0 30px 0;
    text-align: center;
}

.about-description{
    margin: auto;
    max-width:880px;
    padding: 30px 0px 0px 10px;
    text-align: center;
}
.mobile-about-subtitle {
    text-align: center;
    color:#1c252598;
    font-size: 16px;
    padding-bottom: 5px;
}

@media screen and (min-width: 900px) {
    .mobile-about-subtitle{
        display: none;
    }
}


@media screen and (max-width: 900px) {
    .about-description{
        padding: 10px 0px 20px 0px;

    }
}

.events-section-title{
    padding: 120px 0 0 0;
    text-align: center;
}

@media screen and (max-width:900px) {
   .events-section-title{
    padding: 60px 0 0 0;
    text-align: center;
}
}

/*------------Events--------------*/
.events{
    display: flex;
    background-image: url(/images/SIATKA\ MAPA-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;
}


.events-container{
    display: flex;
    justify-content: center;
    gap: 60px 30px;
    flex-wrap: wrap;
    margin: auto;
    width: 1400px;
    padding: 0 20px 0 20px;
}

@media screen and (max-width:900px) {
    .events-container{
        gap: 30px;
    }
}

.event-card {
    display: flex;
    flex-direction: column;
    width: 31.7204301%;
    min-width: 350px;
    background: white;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:700px){
    .event-card {
        min-width: 330px;
        width: 100%;
    }
}

.card-img{
    height: 260px;
    width: 100%;
    object-fit: cover;
}

.card-discription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 20px;
    background: white;
    flex: 1;
}
.card-discription .event-date {
    color: rgba(0, 0, 0, 0.67);
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 3px;
    letter-spacing: 1.1px;
    font-style: italic;
}

.card-discription p{
    display: flex;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 15px;
}

.event-card-button{
    
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    color: #1c2525;
    border-top: 1px solid;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0)) 1;
    padding-top: 15px;
    margin-top: auto;

}
.event-card-button span{
    font-family: helvetica;
    padding-right: 15px;
    transition: padding-right 0.4s;
}

.event-card-button span:hover{
    padding-right: 25px;
}

/*------------News--------------*/

.news-title{
    padding: 0;
    text-align: center;
}

@media screen and (max-width:900px){
    .title-container{
        padding: 20px;
    }
}

.news{
    display: flex;
    background-image: url(/images/SIATKA\ MAPA-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 160px;
}


.news-container{
    display: flex;
    justify-content: center;
    gap: 60px 30px;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    width: 1400px;
    margin-bottom: -30px;
    padding: 30px 20px 0 20px;
}

.news-card {
    display: flex;
    flex-direction: column;
    width: 31.7204301%;
    min-width: 350px;
    background: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:700px){
    .news-card {
        min-width: 330px;
        width: 100%;
    }
}

.news-card-img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.news-card-discription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px 20px;
    background: white;
    flex: 1;
}
.news-card-discription .post-date {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 10px;
    text-transform: uppercase;
}

.news-card-discription .title {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

.news-card-discription p{
    display: flex;
    font-weight: 400;
    font-style: normal;
    padding-top: 20px;

}

.news-card-button{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    /* text-transform: uppercase; */
    line-height: 140%;
    letter-spacing: 1.1px;
    color: #1c2525;
    padding-top: 20px;
    margin-top: auto;
}
.news-card-button span{
    padding-right: 15px;
    transition: padding-right 0.4s;
}

.news-card-button span:hover{
    padding-right: 25px;
}

/*------------Sponsors--------------*/

.partners{
    display: flex;
    margin-bottom: 160px;
}

.partners-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 1400px;
    padding: 0px 20px 0 20px;
}

.partners-container h4{
    padding: 120px 0 50px 0;
    text-align: center;
}

@media screen and (max-width:900px){
    .partners-container h4 {
        font-size: 24px;
    }
}

.sponsor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sponsor h3 {
    padding-bottom: 50px;
    text-align: center;
}

@media screen and (max-width:900px){
    .sponsor h3 {
        font-size: 24px;
    }
}

.sponsor img{
    max-width: 450px;
    min-width: 300px;
    margin: auto;
}

@media screen and (max-width:900px){
    .sponsor img{
        width: 300px;
    }

}

.partners-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 100px;
}

.partners-logo div {
    display: flex;
    max-height: 150px;
}

.partners-logo img {
    margin: auto;
    max-width: 150px;
    max-height: 100%;
}


/*------------Footer--------------*/

footer {
    background: #1c2525;
}

footer h5 {
    color: rgba(255, 255, 255, 0.87);
    padding-bottom: 30px;
}

footer .columns-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

footer .column1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer .columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 20px 60px 20px;
    width:1240px;
    margin: auto;
    flex-wrap: wrap;
    gap: 30px;
}

@media screen and (max-width:900px){
    footer .columns{
        flex-wrap: wrap-reverse;
        justify-content: start;

    }
}

.column1 .logo-footer{
    width: 200px;
    padding-bottom: 40px;
}

@media screen and (max-width:900px){
    .column1 .logo-footer{
        width: 80px;
    }
}

footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.67);
    padding-bottom:20px;
    transition: color 0.3s;
}

footer a:hover{
    color: #F9B233;
}

footer p {
    color: rgba(255, 255, 255, 0.67);
}

footer .social-title {
    text-align: left;
}

footer .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    min-width: 170px;
    text-align: center;
}

.column .social {
    display: flex;
    align-items: center;
}

footer .icon-footer{
    padding-right: 20px;
    height: 35px;
}

footer .rights{
    background: white;
    text-align: center;
    padding: 10px;
}

.rights p{
   color: #1c2525;
}

/*=======================================Tajemnicze Kopce-=====================================*/

/*------------HEADER--------------*/

.event-header-container {
    position: relative;
    /* top: 0px; */
    width: 100%;
    height: 785px;
    margin-bottom: -80px;
}

@media screen and (max-width:900px){
    .event-header-container {
        width: 100%;
        height: 90vh;
        margin-bottom: -80px;
    }
}



.event-header-container img{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.event-title-container {
    position: absolute;
    flex-direction: column;
    display: flex;
    width: 1400px;
    padding: 20px 20px 160px 20px;
    margin: auto;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;

}
@media screen and (max-width:900px){
    #imgDesktop {
        display: none;
    }
}
@media screen and (min-width:900px){
    #imgMobile {
        display: none;
    }
}

@media screen and (max-width:900px){
    .event-title-container {
        width: auto;
        left: 0;
        right: 0;
        padding-bottom: 20vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.80));

    }
}

.event-title h5 {
    font-size: 34px;
    color: white;
    padding-left: 50px;
    font-weight: 900;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:900px){
    .event-title h5 {
        font-size: 24px;
        padding-left: 30px;
    }
}



.event-title-button {
    align-items: center;
    background: #F9B233;
    padding: 20px 50px;
    margin: 10px 0;
    transform: skew(-10deg);
    width: fit-content;
}

@media screen and (max-width:900px){
    .event-title-button {
        padding: 20px 30px;
        width: fit-content;
    }
}


.event-title-button h2 {
    color: white;
    transform: skew(10deg);

}

@media screen and (max-width:900px){
    .event-title-button h2 {
        font-size: 30px;
    
    }
}


.event-title-container .distance-ikon {
    display: flex;
    padding-top: 40px;
    gap: 20px;
    padding-left: 30px;
    padding-right: 20px;
    max-width: 100%;
    margin: auto;
}
.distance-ikon a{
    color: rgba(255, 255, 255, 0.87);
}

@media screen and (min-width:900px){
    .event-title-container .distance-ikon {
        display: none;
    
    }
}

.event-title-container .distance-ikon img{
    display: flex;
    width: 55px;
}

/*------------CARDS--------------*/


.card-for-event {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 31.7204301%;
    min-width: 340px;
    background: white;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
}
.card-for-event-top{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px;
}
.card-for-event-top h4 {
    padding: 25px 0 25px;
}
.card-for-event-top ul{
    list-style-type: none;
    padding-bottom: 30px;
    /* font-size: 24px;
    text-transform: uppercase;
    font-weight: normal; */

}

.card-for-event-top ul li{
    list-style-type: none;
    font-size: 16px;
    letter-spacing: 0.8px;
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.67);

}

@media screen and (max-width:900px){
    .card-for-event-top ul {
        display: none;
    }
}

.card-for-event-icons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.card-for-event-icons img{
    width: 40px;
    height: 50px;
    padding-bottom: 10px;
}
.card-for-event-icons img:hover{
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -o-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform: scale(1.10);
}

.card-for-event-icons span{
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.67);
}

.card-for-event-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;   
}

.card-for-event-bottom{
    position: relative;
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    background: #232E2E;
}
.card-for-event-bottom-button {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.card-for-event-bottom-event-price span{
    color: rgba(255, 255, 255, 0.67);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.card-for-event-bottom-event-price h5{
    color: white;
    padding-top: 5px;
    font-size: 28px;
}
.register-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    margin: 0;
    padding: 0px 10px;
    background: #F9B233;
    font-family: helvetica;
    font-size: 16px;
    letter-spacing: 1.1px;
    text-transform: uppercase ;
    text-align: center;
    border: 1px solid #F9B233;
    border-radius: 8px;
    height: 46px;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #232E2E;
}
.register-button:hover {
    background: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: white;

}


.card-for-event-bottom li{
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.50);
}

.card-for-event-bottom button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 15px 0 0 0;
    border-top:1px solid rgba(255, 255, 255, 0.24);
    background: rgba(255, 255, 255, 0);
    transform: skew(0deg);
}
.card-for-event-bottom button span{
    font-family: helvetica;
    font-size: 16px;
    margin-right: auto;
    padding-left: 15px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    color: #CAD51F;
}

#accordion-show {
    display: none;
    padding-top: 20px;
}
#accordion-show-1{
    display: none;
    padding-top: 20px;
}
#accordion-show-2 {
    display: none;
    padding-top: 20px;
}
#accordion-show-3 {
    display: none;
    padding-top: 20px;
}
#accordion-show-4{
    display: none;
    padding-top: 20px;
}
#accordion-show-5 {
    display: none;
    padding-top: 20px;
}
/* .accordion-show{
    position: absolute;
    box-sizing: border-box;
    bottom: -134px;
    background: #232E2E;
    width: 100%;
    left: 0;
    padding: 0 20px 20px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
} */


#prices-table{
    width: 100%;
}
#prices-table td {
    padding-bottom: 8px;
}

#prices-table .td-left-column {
    text-align: right;
    font-size: 16px;
    color: #CAD51F;
}

.maps-section-title{
    text-align: center;
}
.maps-description{
    padding: 0 20px;
    text-align: center; 
}
.card-for-event-bottom-event-price .adnotacja{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.87);
}

.maps-container {
    display: flex;
    padding: 20px 20px 100px 20px;
}
.maps-tabs{
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin: auto;

}
/* Style the tab */
/* .tab { */
    /* background-color: #f1f1f1; */
    /* border: 1px solid #ccc; */
    /* overflow: hidden; */
  /* } */
  /* Style the buttons inside the tab */
  .tab button {
    display: flex;
    flex: 1;
    background-color: #ccc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 30px;
    transition: 0.3s;
    font-size: 20px;
    box-shadow: none;
    height: fit-content;
    /* width: 25%; */
  }
  
  @media screen and (max-width:900px){
    .tab button {
        width: fit-content;
        font-size: 16px;
        padding: 15px 15px;
        margin-top: 2px;
        margin-right: 2px;
      }
  }


  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #F9B233;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
  }
  /* Style the tab content */
  .tabcontent {
    display: none;
    flex-direction: column;
    /* padding: 20px; */
    border: 1px solid #ccc;
    /* border-top: none; */
  }
.tabcontent h3{
    font-size: 24px;
}

.tablinks span{
    font-family: sans-serif;
    font-size: 12px;
    color: white;
    
}

  .tabcontent.active {
    display: flex;
    flex-direction: column;
}

.tabcontent .gpx-download{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.tabcontent .gpx-download a{
    margin-top: 0;
    align-self: center;
    color: var(--red);
    text-decoration: underline;
}

.maps-title-container{
    display: flex;
    flex-direction: column;
    padding: 60px 20px 20px 20px;
}

@media screen and  (max-width:900px){
    .maps-title-container{
        padding: 0px 20px 20px 20px;
    }
}
.tabcontent a {
    align-self: flex-end;
    margin-top: 30px;
}
@media screen and  (max-width:900px){
    .tabcontent a{
        align-self: center;
    }
}


/*------------INFO--------------*/

.info-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 800px;
    padding: 20px;
    margin: auto;
    padding-bottom: 120PX;
}

.info-container a {
    margin-top: 30px;
    align-self: center;
    color: rgba(0, 0, 0, 0.67);
}
.info-container ul {
    list-style: square inside url("/images/strazlka-czerwona-prawa.svg");
    list-style-position: outside;
}

.info-container .title {
    margin-top: -132px;
    padding-bottom: 60px;
}

.info-container .adres-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.info-container .adres-data a{
    color: rgba(0, 0, 0, 0.87);
}

.info-container .adres-data address{
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    padding-top: 30px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.67);
}
.link-breadcrumbs a{
    color: black;
}
.page-breadcrumbs {
    text-decoration: underline;
}



/*------------ZASADY--------------*/
.img-header-cover img{
    height: 230px;
    width: 100%;
    object-fit: cover;
}


.overflow-x{
    overflow-x: auto;
}
.pkt-table{
    margin-top: 40px;
}
.pkt-table td{
    padding-bottom: 8px;
}

.td-pkt {
    display: flex;
    flex: 1;
    text-align: left;
}
.td-position {
    width: 100px;
}
.pkt-table td{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.67);
}

@media screen and (min-width: 900px) {
    .pkt-table{
        width: 100%;
    }
  }

@media screen and (max-width: 900px) {
    .td-pkt {
        min-width: 120px;
    }
    .td-position {
        min-width: 90px;
    }
  }

/*------------CENNIK--------------*/
.cennik{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.cennik-title {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}
  .cennik-name-event {
      padding: 10px 20px;
      background: #F9B233;
      transform: skew(-10deg);
      width: fit-content;
  }
  .cennik-name-event h6{
    padding: 0;
    margin:0;
    color: white;
    line-height: 80%;
    transform: skew(10deg);
}
.cennik-name-event h5{
    transform: skew(10deg);
    color: white;

}
.cennik-tables{
    display: flex;
    flex-wrap: wrap;

}
.cennik-table{
    padding-top: 20px;
    flex-direction: column;
    display: flex;
    width: 50%;
    min-width: 350px;

}
.cennik-table table{
    padding: 10px;
}
.cennik-table h6{
    color: rgba(0, 0, 0, 0.67);
}
.cennik-table .left-column{
    color: rgba(0, 0, 0, 0.67);

}
.cennik-table .price-date{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.67);
}

.spacing-100{
    min-height: 100px;
}
