* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 96px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: -1px;
    color: #1c2525;
    
}

h2 {
    font-size: 60px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 110%;
    letter-spacing: 0px;
    color: #1c2525;
}

h4 {
    font-size: 34px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 110%;
    letter-spacing: 0px;
    color: #1c2525;
}


h5 {
    font-size: 24px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 140%;
    letter-spacing: 1.1px;
    color: #1c2525;
}

p {
    color: rgba(0, 0, 0, 0.57);
    font-size: 16px;
    line-height: 170%;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.9px;
    
}

body{
    font-family: sans-serif;
    height: 100%;

}

/*------------NAWIGACJA--------------*/

.nav-container{
    display: flex;
    background: #1c2525;
}

nav{
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 20px 10px 20px;
}

nav a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1.25px;
    transition: color 0.4s;
}

nav a:hover{
    color: #F9B233;
}

nav .logo-menu {
    height: 55px;
}

nav .social{
    display: flex;
    align-items: center;
    margin-left: 85px;
}

.social .inst-icon {
    margin-left: 20px;
}

nav .menu-items{
    margin-left: auto;
}

.menu-items .menu-item:not(:first-child) {
    padding-left: 30px;
}

/*------------HEADER--------------*/
.header-container {
    display: flex;
    gap: 0;
    width: 100%;
    max-height: 90vh;
    background: #1c2525;
}

.main-item {
    position: relative;
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    transition-property: width, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.main-item-hover{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.main-item-hover:hover{
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.678);
    cursor: pointer;
}

.main-item-hover h2 {
    font-size: 34px;
    color: white;
    text-align: center;
    padding: 10px;
    line-height: 110%;
}


.main-item-hover .hover-icon-button {
    padding-top: 30px;
    width: 80px;
    height: fit-content;
    transition: padding-top 0.4s;
}

.main-item-hover .hover-icon-button:hover {
    padding-top: 40px;
  
}

.main-item:hover{
    width: 30%;
}
.main-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------- About -------------- */

.about-xrun{
    display: flex;
    flex-direction: column;
    padding: 60px 0 60px 0;
}

.about-title{
    padding: 60px 0 30px 0;
    text-align: center;
}

.about-description{
    margin: auto;
    max-width:880px;
    padding: 30px 10px 60px 10px;
    text-align: center;
}

.about-news{
    padding: 60px 0 0 0;
    text-align: center;
}

/*------------Events--------------*/
.events{
    background-image: url(/images/SIATKA\ MAPA-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;
}


.events-container{
    display: flex;
    justify-content: space-between;
    row-gap: 60px;
    column-gap: 30px;
    flex-wrap: wrap;
    margin: auto;
    width: 1240px;
    padding: 0 20px 0 20px;
}

.event-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 390px;
    background: white;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.card-img{
    height: 260px;
    width: 100%;
    object-fit: cover;
}

.card-discription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px 20px;
    background: white;
}

.card-discription p{
    display: flex;
    font-weight: 400;
    font-style: normal;
    padding-top: 20px;
}

.event-card-button{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 140%;
    letter-spacing: 1.1px;
    color: #1c2525;
    padding-top: 20px;
}
.event-card-button span{
    padding-right: 15px;
    transition: padding-right 0.4s;
}

.event-card-button span:hover{
    padding-right: 25px;
}
